<!doctype html>
<html>
    <head>
        <title>DC-Data</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<link rel="stylesheet" type="text/css" href="/static/css_all.css"></link>

<script type="text/javascript" src="/static/js_all.js"></script>      

  


        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
         <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.js"></script>
       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
		

		 <!-- 
		 Latest compiled and minified JavaScript -->


    </head>
        
    <body class="container-fluid">
    <header><h3><span>DC</span>-Data</h3></header> 
      <div id="mainWrapper" class="col-xs-12">
        <!-- <div class="row"> -->

            <div id="mainCol" class="col-xs-12">
              <div id="upperHalf" class="row">
                <div class="leftCol col-xs-12">
                  
                  <ul class="nav nav-pills">
                    <li>
                      <div class="input-group">
                          <input type="text" value="flash flood" class="form-control" placeholder="Search for a word or phrase">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go</button>
                          </span>
                        </div>
                    </li>
                    
                    
                    <li><a href="#" data-units="(mph)" data-name="Wind" data-display ="">Wind</a></li>
                    <li><a class="" href="#" data-units="(in)" data-name="Precip" data-display ="">Rain/Snow</a></li>
                    <li><a href="#" data-units="(%)" data-name="H_Pcnt" data-display ="">Humidity</a></li>
                    <li><a href="#" data-units="(%)" data-name="C_Pcnt" data-display ="">Cloudiness</a></li>
                    <li><a href="#" data-units="(Watt-hours/sqr_mtr)" data-name="Radiation" data-display ="">Solar Radiation</a></li>
                    <li><a href="#" data-units="(F)" data-name="Temp_Feels" data-display ="">Apparent Temp</a></li>
                    <li ><a class="active" href="#" data-units="(F)" data-name="Temp" data-display ="">Actual Temp</a></li>
                  </ul>
                  <div id="timeSeries" class="well">
                    <h4 id="graphTitle"><span class="metric">Temperature</span> Levels & Mentions of "<span class="query">query</span>" Over Time</h4>
                  <div class="chart"></div>
                  </div>
 
                </div>

              </div>         
                
                <h1 id="timeSpan">Feb 2011 - Feb 2012</h1>
 
            <div id="lowerHalf" class="row"> 
                <div class="rightCol col-xs-6 col-md-5 well">
                    <div id="monthChart" class="chart ">
                    <!-- <input type="text" class="form-control"> -->
  <!--                   <ul id="tabs" class="nav nav-tabs" role="tablist">
                      <li class="active"><a class="active search" href="#search" data-toggle="tab">Search News</a></li>
                      <li><a class="months" href="#months " data-toggle="tab">Months View</a></li>
                    </ul>
                    <div id="tabContent" class="tab-content well">
                      
                      <div class="tab-pane fade active in" id="search">
                        <div class="input-group">
                          <input type="text" value="flash flood" class="form-control" placeholder="Search for a word or phrase">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go</button>
                          </span>
                        </div>
                        <p>Enter any word or phrase above to see how many times it was said by D.C./Baltimore local news anchors.
                          </p>
                          <p>
                          Drag the box around the timeline above to view that period of time.
                          Clicking a month in the months tab filters for that month.
                          Finally, if you click on a day on the calendar you will find clips for that day where the word/phrase was said.</p>
                          <p>To get you started "Flash Flood" has been entered already</p>
                      </div>
                      <div class="tab-pane fade in active" id="months">
                        <div id="monthChart" class="chart">

                         </div>
                      </div>
                    </div> -->
                    </div>
                      <!-- <div class="monthButton" id="monthSelector"></div> -->
                      <span class="monthButton">Month Selector</span>

                </div>


              <div class="leftCol col-xs-12 col-md-12">
                  <div id="cal-heatmap" class="well cf"></div>
              </div>
            </div>
          <!-- </div> -->
<!-- end of main col  -->

             
  <!--                 <div id ="tv-container" class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 tv-col">
                        <div class="thumbnail">
                          <iframe width="380" height="280" frameborder="0" allowfullscreen src="https://archive.org/embed/WBFF_20110202_140000_Fox_45_Good_Day_Baltimore?start=1151&end=1211" webkactivitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                        <div class="caption">
                          <h3>Thumbnail label</h3>
                          <p>...</p>
                          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                      </div>
                    </div>
                  </div> -->

                  <div id="tv-container" class="row">
                    <div id="dayHeader" class="col-xs-12">
                      <h1 id="date"></h1>
                      <!-- <h3></h3> -->
                    </div>
                      <div class="col-xs-12 col-sm-6 col-md-4 template tvFrame ">
                        <!-- <div class="thumbnail well"> -->
                          <iframe width="380" height="280" frameborder="0" allowfullscreen src="" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                          <div class="caption well">
                            <!-- <h2>Show:</h2> -->
                            <h3 class="show"></h3>
                            <!-- <h3>Date:</h3> -->
                            <!-- <h3>Station:</h3> -->
                            <h4 class="station"></h4>
                            <p class="date"></p>

                            <!-- p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                          </div>
                        <!-- </div> -->
                      </div>
                  </div>
          </div> 
<!-- end of main wrapper row  -->
          <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
                  <h4 class="modal-title" id="myModalLabel">DC-Data</h4>
                </div>
                <div class="modal-body">
                  <p>This application combines local news coverage and weather data of the D.C./Baltimore Area.</p>
                  <ul>
                  <li>Search for a word or phrase and see how often it was mentioned by the local newstations over time.
                  </li>
                  <li>Clicking on a day in the calendar will display news clips from that day containing the current word/phrase.</li>
                  <li>All weather data is in blue</li>
                  <li>Drag around the blue-square-brush on the top chart to zoom in on the bottom charts below.</li>
                  </ul>
                  <p>To get started "Flash Flood" has been entered for you already. Try and find out why it was mentioned so many times between July and October of 2011 and if any of the weather metrics correlate. </p>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  <button type="button" data-dismiss="modal" class="btn btn-primary disabled">Loading Data...</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->

    </body>
    <script>$("#welcomeModal").modal("toggle")</script>
</html>