<!doctype html>
<html>
    <head>
        <title>Hello Flask</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
        
        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}            
         <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.js"></script>
       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
		

		 <!-- 
		 Latest compiled and minified JavaScript -->


    <head>
    <body class="container-fluid">
        <h1>Hello DC World!!!</h1>

      <div id="mainWrapper" class="col-xs-12">
        <div class="row">
            
            <div id="mainCol" class="col-xs-12">
              <div id="upperHalf" class="row">
                <div class="leftCol col-xs-7">
                  <ul class="nav nav-pills">
                    <li class="active"><a href="#" data-name="Temp" data-display ="">Actual Temp</a></li>
                    <li><a href="#" data-name="Temp_Feels" data-display ="">Apparent Temp</a></li>
                    <li><a href="#" data-name="Wind" data-display ="">Wind</a></li>
                    <li><a href="#" data-name="Precip" data-display ="">Rain/Snow</a></li>
                    <li><a href="#" data-name="H_Pcnt" data-display ="">Humidity</a></li>
                    <li><a href="#" data-name="C_Pcnt" data-display ="">Cloudiness</a></li>
                    <li><a href="#" data-name="Radiation" data-display ="">Solar Radiation</a></li>
                  </ul>
                        <h4 id="graphTitle">D.C. <span>Temperature</span> and "<span>query</span>" mentions over time</h4>
                  <div class="chart"></div>
                </div>
                <div class="rightCol col-xs-5">
                    <!-- <input type="text" class="form-control"> -->
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                      <li class="active"><a href="#months" data-toggle="tab">Months</a></li>
                      <li><a href="#search" data-toggle="tab">Search News</a></li>
                    </ul>
                    <div id="tabContent" class="tab-content">
                      <div class="tab-pane fade active in" id="months">
                        <h4 id="currentYear">Zoomed in on mostly <span>2012</span></h4>
                        <div id="monthChart" class="chart"> </div>
                      </div>
                      <div class="tab-pane fade" id="search">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for a word or phrase">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go</button>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
              </div>         
                
 
            <div id="lowerHalf" class="row"> 
              <div class="leftCol col-xs-7">
                <div id="cal-heatmap"></div>
              </div>
              <div class="rightCol col-xs-5">
                <h4>Date</h4>
                <div id="tv-container">
                      <div class="thumbnail">
                        <iframe width="380" height="280" frameborder="0" allowfullscreen src="https://archive.org/embed/WNUV_20101001_043000_FOX_45_Late_Edition?start=60&end=120" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                        <div class="caption">
                          <h3>Thumbnail label</h3>
                          <p>...</p>
                          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                      </div>
                </div>
              </div>
            </div>
<!-- end of main col  -->
          </div> 
<!-- end of main wrapper row  -->
        </div>
      </div>

    </body>
</html>