<!doctype html>
<html>
    <head>
        <title>Hello Flask</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css">

        
        {% assets "css_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "js_all" %}

        {% endassets %}            
         <script type="text/javascript" src="../bower_components/d3.js"></script>
<script type="text/javascript" src="../bower_components/crossfilter.js"></script>
<script type="text/javascript" src="../bower_components/dc.js"></script>
 
		<!-- Optional theme -->

		 
		<!-- Latest compiled and minified JavaScript -->


    <head>
    <body class="container-fluid">
        <h1>Hello DC World!!!</h1>


        <div class="row" id="mainWrapper">

            <div class="col-sm-10 col-sm-offset-1">
                 <div id="box-test">
                    
                </div>
                 <div id="pie-chart">
                    
                </div>
<!--
                <div id="chart"><span>Days by Gain or Loss</span>
                </div>

                <div id="chart">
                    <a class="reset" href="javascript:myChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                </div> -->
            </div>

            
        </div>


    </body>
</html>